.card-gris {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem; 
    margin: 5px 0;
}

.card-gris .card-body {
    color: #343a40; 
}

.card-gris .card-title {
    color: #495057; 
}

/* Estilo adicional para el logo */
.navbar-brand img {
    max-height: 40px; /* Ajusta la altura del logo según sea necesario */
}

/* Centra el buscador */
.navbar-nav .mb-3{
    flex: 1;
    justify-content: center;
}
.form-inline {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo del formulario de búsqueda */
}

.footer-logo img {
    max-height: 50px; /* Ajusta la altura del logo según sea necesario */
}
.social-icons a {
    margin-left: 15px; /* Espaciado entre íconos sociales */
    color: #343a40; /* Color de los íconos, ajustable según diseño */
}
.social-icons a:hover {
    color: #007bff; /* Color de los íconos al pasar el ratón */
}