*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}
html{
    max-height: 1080px;
}
body {
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#index-header{
    width: 100%;
    height: 60px;
}
#index-main{
    height: 100vh;
}

#footer{
    margin-top: auto;
}



.card-gris {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem; 
    margin: 5px 0;
}

.card-gris .card-body {
    color: #343a40; 
}

.card-gris .card-title {
    color: #495057; 
}

/* Estilo adicional para el logo */
.navbar-brand img {
    max-height: 40px; 
}

/* Centra el buscador */
.navbar-nav .mb-3{
    flex: 1;
    justify-content: center;
}
.form-inline {
    width: 100%;
    max-width: 600px; 
}

.footer-logo img {
    max-height: 50px; 
}
.social-icons a {
    margin-left: 15px; 
    color: #343a40; 
}
.social-icons a:hover {
    color: #007bff; 
}